
body {
    padding: 0;
    margin: 0;
    background: #1B346A;
}

.notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-60%, 20%);
    text-align: center;
    max-width: 410px;
}

.image {
    padding: 150px 420px;
    /* display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; */
}

.notfound h1 {
    font-family: 'Montserrat', sans-serif;
    color: #E2F5F8;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;

}

.notfound p {
    font-family: 'Montserrat', sans-serif;
    color: #E2F5F8;
    font-size: 22px;
    margin-bottom: 50px;
}

.notfound a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: none;
    background: #0046d5;
    padding: 10px 30px;
    border-radius: 40px;
    color: #fff;
    font-weight: 700;
}
