<html lang="en">
<head>
    <meta charset="utf-8">
    <title>404</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
</head>

<body class="text-center text-dark bg-light">

<div class="p-5">
    <img src="{% static "images/404.svg" %}" class="w-50" alt="404 Image">
    <h1 class="mt-2">Page not found</h1>
    <h5 class="mt-2">The resource you are looking for has expired or does not exist.</h5>
    <a class="btn btn-primary btn-lg mt-2" href="/">Go to Homepage</a>
</div>
</body>

</html>
