<!DOCTYPE html>
<html lang="en">

<head>
    {% load myfilters %}
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Anon Send</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
</head>

<body class="container-fluid">
<h1 class="m-4"><strong>Anon</strong>Send</h1>
<hr/>

<form class="row p-2 " style="margin-top:15vh;" method="POST" enctype="multipart/form-data"
      action="{% url 'upload_success' %}">

    <div class="col">
        <img class="mr-5 p-5" src="{% static 'images/upload.svg' %}" style="width:500px;">
    </div>

    <div class="col p-2 m-3 shadow-lg" style="background:#eee; border-radius: 25px;">
        {% csrf_token %}

        <div class="row p-2 d-flex justify-content-center">
            <div class="form-group">
                {{ form.visible_fields.0.label_tag }}
                {{ form.visible_fields.0|addclass:"form-control-file" }}
            </div>
        </div>
        <div class="row p-2 d-flex justify-content-center">
            <div class="form-group" style="width:300px">
                {{ form.visible_fields.1.label_tag }}
                {{ form.visible_fields.1|addclass:"custom-select" }}
            </div>
        </div>
        <div class="row p-2 d-flex justify-content-center">
            <div class="form-group" style="width:300px">
                {{ form.visible_fields.2.label_tag }}
                {{ form.visible_fields.2|addclass:"custom-select" }}
            </div>
        </div>

        <div class="row p-2 d-flex justify-content-center">
            <div class="form-group" style="width: 300px">
                {{ form.visible_fields.3.label_tag }}
                {{ form.visible_fields.3|addclass:"form-control" }}
            </div>
        </div>

        <div class="row p-2 d-flex justify-content-center">
            <input type="submit" class="btn btn-dark" value="Upload"></input>
        </div>
    </div>

    <div class="col">
        <img class="mr-5 p-5" src="{% static "images/pass.svg" %}" style="width:500px;">
    </div>
</form>
</body>

</html>
