<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load myfilters %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
    <script>
        function submitForm() {
            let input = document.getElementById('id_password');
            input.classList.remove('is-invalid');
            input.classList.add("is-valid");
            document.getElementById('submit').disabled = true;
        }
    </script>
</head>
<body class="container-fluid p-3">
<form method="post" class="form-inline" onsubmit="submitForm()">
    <div class="form-group">
        {% csrf_token %}
        {% if form.expected_password %}
            {% for field in form.visible_fields %}
                <div class="col-auto">
                    {{ field.label_tag }}
                </div>
                <div class="col-auto">
                    {% with "form-control "|add:valid as tmp_class %}
                        {{ field|addclass:tmp_class }}
                    {% endwith %}
                    <div class="invalid-feedback">
                        Invalid Password
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="form-group col-auto">
        <div class="align-content-center">
            <input type="submit" class="btn btn-primary" value="Download"
                   id="submit"/>
        </div>
    </div>
</form>
</body>
</html>