<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Upload Success</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/bootstrap.bundle.js" %}"></script>
    <script src="{% static "js/qrcode.min.js" %}"></script>

</head>

<body class="containerfluid">
<h1 class="m-4"><strong>Anon</strong>Send</h1>
<hr/>
<div class="row mt-5">
    <div class="col-5">
        <img class="float-left" src="{% static "images/mobile_testing.svg" %}"
             style="width:468px;height:350px;" alt="Public Link Image">
    </div>
    <div class="col-5">
        <div class="container">
            <div class="row">
                <h1 class="float-left">Public Link :</h1>
            </div>
            <div class="row">
                <p class="text-justify">This is the public link for your files.<strong>The other person must require
                    this to be
                    able download your file(s)</strong>. It remains active for the specified amount of time and number
                    of downloads.If you have set a password, the opposing person must submit the same password before
                    they
                    are allowed to download the file(s).
                </p>
            </div>
            <div class="row">
                <label for="public"></label>
                <input readonly
                       class="form-control-plaintext border border-dark w-50 p-2 m-2"
                       id="public"
                       value="http://127.0.0.1:8000/{{ public_link }}"
                       onclick="this.select();"/>
                <img alt="Copy to clipboard" class="my-3" onclick="copy_to_clipboard('public')"
                     src="{% static "images/clippy.svg" %}"
                     style="width: 30px;height:30px" title="Copy to clipboard">
                <button class="btn" data-toggle="popover"
                        data-title="QR Code"
                        data-content="
                            <div id='qr_pub' style=''></div>
                            <script>
                                new QRCode(document.getElementById('qr_pub'), 'http://127.0.0.1:8000/{{ public_link }}');
                            </script> ">QR
                </button>
            </div>

        </div>
    </div>
</div>
<hr/>
<div class="row mt-5">
    <div class="col-5">
        <img class="float-left" src="{% static "images/all_the_data.svg" %}"
             style="width:468px;height:350px;" alt="Analytic link image"/>
    </div>
    <div class="col-5">
        <div class="container">
            <div class="row">
                <h1 class="float-left">Analytic Link :</h1>
            </div>
            <div class="row">
                <p class="text-justify">
                    This is the analytic link. You can use this link to view a dashboard that displays various
                    statistics
                    corresponding to the public link. Statistics collected include device type, country, time of
                    download
                    and much more.<strong>The other person need not require this link</strong> to download the files.
                    Your
                    analytic
                    link will expire after the time period you specified during uploading the file(s).
                </p>
            </div>
            <div class="row">
                <label for="analytic">

                </label><input readonly class="form-control-plaintext border border-dark w-50 p-2 m-2" id="analytic"
                               value="http://127.0.0.1:8000/analytics/{{ analytic_link }}" onclick="this.select();"/>
                <img src="{% static "images/clippy.svg" %}" class="my-3" style="width: 30px;height:30px"
                     title="Copy to clipboard"
                     onclick="copy_to_clipboard('analytic');" alt="Copy to clipboard">

                <button class="btn" data-toggle="popover"
                        data-title="QR Code"
                        data-content="
                        <div id='qr_analytic' style=''></div>
                        <script>
                        new QRCode(document.getElementById('qr_analytic'), 'http://127.0.0.1:8000/analytics/{{ analytic_link }}');
                        </script> ">QR
                </button>
            </div>

        </div>
    </div>
</div>


</body>
<script>
    $(function () {
        $('[data-toggle="popover"]').popover({
                html: true,
            }
        )
    });

    function copy_to_clipboard(btn_type) {
        let text = document.getElementById(btn_type);
        text.select();
        document.execCommand("copy");
    }


</script>

</html>